<!doctype HTML>
<title>Bee News!</title>
<link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<body>

	<div class = "page">
		<div class="bg">
		</div>
		<div class="center-content">
			<div class="main-title">
				<img src="static/beenews.svg">
			</div>
			{% for key, value in curated_headlines.iteritems() %}
				<a href="{{value[0]}}"><h2>{{key}}</h2>
					<div class="where-and-when">
						<h6>{{value[1]}}<h6>
					</div>
					<div class="about">
						{{value[2]}}
					</div>
				</a>

<!-- 				Someday there will be animated bees...but today is not that day.

					<div class="bee">
					<a href="{{value[0]}}">
						<img src="static/bee.svg" width="20px">
					</a>
				</div> -->
			{% endfor %}
			<div class="byline">
				Made with &hearts; by <a href="http://catmores.co">Catherine Moresco</a> <br>
				Check us out on <a href="https://github.com/catherinemoresco/beenews">GitHub!</a><br>
				&copy; 2015
		</div>
	</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
	function parallax(){
		var scrolled = $(window).scrollTop();
		$('.bg').css('top', -(scrolled * 0.15) + 'px')
	}

	$(window).scroll(function(e){
		parallax();
	});
</script>